<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block head_title %}{{site.title}}{% endblock %}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico">
    <title>Ceritanya Developer Podcast</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="w-100 avenir bg-near-white">
    <nav class="ph3 ph5-ns pv4">
      <div class="nowrap overflow-x-auto tr">
        <a class="link dim gray f6 f5-ns dib mr3" href="#" title="About">About</a>
        <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Store">Subscribe</a>
        <a class="link dim gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
      </div>
    </nav>
    <header class="pa3 pa4-ns">
      <a class="link dim black b f1 f-subheadline-ns tc db mb3 mb4-ns" href="#" title="Home">Ceritanya Developer</a>
      <div class="tc mt3">
        <p>Developer inspiratif bercerita tentang bagaimana mereka memulai menjadi developer.</p>
      </div>
      <div class="tc mt3">
        <form class="measure center">
          <input placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
          <button class="input-reset w-100 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray" type="submit">Subscribe</button>
          <div class="v-mid inline-flex items-center ma2 tc br2 pa2">
            <a class="no-underline" href="https://itunes.com" title="Apple Podcast">
              <img style="width: 30%" src="images/itunes-icon.png" />
            </a>
            <a class="no-underline" href="https://itunes.com" title="Apple Podcast">
              <img style="width: 30%" src="images/anchorfm-icon.png" />
            </a>
            <a class="no-underline" href="https://itunes.com" title="Apple Podcast">
              <img style="width: 30%" src="images/pocketcast-icon.png" />
            </a>
            <a class="no-underline" href="https://itunes.com" title="Apple Podcast">
              <img style="width: 30%" src="images/playerfm-icon.png" />
            </a>
          </div>
        </form>
      </div>
    </header>
    <main class="mt4">
      <div>
        <section class="mw7 center avenir">
          {% block content %}{% endblock%}

          {% include "_pagination.html" %}
        </section>
      </div>
    </main>
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc">© 2016 <b class="ttu">SOME COMPANY Inc</b>., All Rights Reserved</small>
      <div class="tc mt3">
        <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
        <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
      </div>
      <div class="tc mt3">
        <p class="f4 fw6 mb2 f6 mt0">
          Sign up for our newsletter.
        </p>
        <input placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
        <input class="input-reset w-100 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray" type="submit">
      </div>
    </footer>
  </body>
</html>
