{% extends 'base.html' %}

{% block body_class %}post-template{% endblock%}
{% block meta_og %}
<meta name="description" content="'{{file.excerpt}}' {{file.guest}}">
<meta property="og:title" content="Ceritanya {{file.guest}}" />
<meta property="og:type" content="podcast" />
<meta property="og:url" content="{{site.url}}{{file.url}}" />
<meta property="og:image" content="{{file.thumbnail}}" />
{% endblock %}

{% block content %}
<article class="db pv4 ph3 ph0-l bt bb b--black-10">
  <div class="flex flex-column flex-row-ns">
    <div class="w-100 pl3-ns">
      <h1 class="f1 fw1 avenir mt0 lh-title tc">{{file.title}}</h1>
      <div class="f5 f4-l lh-copy">
        <div class="pa4">
          <blockquote class="ml0 mt0 pl4 black-90 bl bw2 b--light-purple">
            <p class="f4 f3-m f3-l lh-copy measure mt0">{{file.excerpt}}</p>
            <cite class="f5 ttu tracked fs-normal">― {{file.guest}}</cite>
          </blockquote>
        </div>
        <iframe src="{{file.embed}}" height="102px" width="752px" frameborder="0" scrolling="no"></iframe>
        <div>
          <a href="{{file.audio}}" target="_blank">Download</a>
        </div>
        <p class="measure-wide lh-copy">
          {{file.content | safe}}
        </p>
      </div>
    </div>
  </div>
</article>

{% endblock%}
